<div class="cover container">
    <div class="cover-content">
        {{#if @site.icon}}
            <div class="cover-icon">
                <img class="cover-icon-image cover-icon-rounded" src="{{@site.icon}}" alt="{{@site.title}}">
            </div>
        {{/if}}

        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{else}}
            <div class="cover-description" style="text-align: center;">
                <p>Qué tal! me llamo Vicente Gutiérrez y te doy la bienvenida a este blog. Aquí suelo escribir sobre desarrollo de software con <strong>JavaScript</strong> y <strong>NodeJS</strong>, <strong>ingeniería de software</strong> y <strong>algoritmos</strong>. No pretendo ser un experto en esos temas, sólo intento compartir mi comprensión sobre ellos.</p>
            </div>
        {{/if}}
    </div>
</div>
