{{!< default}}

{{#contentFor "title"}}{{@site.title}} - Blog{{/contentFor}}

<div class="content-area">
    <main class="site-main">
        <article class="single">
            <header class="single-header kg-canvas">
                <h1 class="single-title">Mis últimas publicaciones</h1>
            </header>
        </article>

        <div class="post-feed container medium">
            {{#foreach posts}}
                {{> "post-item"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>
