{{!< default}}

{{#contentFor "title"}}{{@site.title}} - {{meta_title}}{{/contentFor}}

<div class="content-area">
    <main class="site-main">
        <div class="post-feed container medium">
            {{#get "posts" limit="all" order="published_at desc"}}
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            {{/get}}
        </div>
    </main>
</div>
